<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div style="display: flex; justify-content: space-evenly; margin: 50px">
        <div style="display: inline-block;">
            <h1>New Dojo:</h1>
            <nav class="navbar navbar-light bg-light">
            <form action="/dojos" method="POST" class="form-inline" style="margin: 20px;">
              <input name ="name" class="form-control mr-sm-2" type="text"  aria-label="text" placeholder="Name...">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
            </form>
          </nav>
        </div>

        <div style="display: inline-block; vertical-align: top; max-width: 400px; max-height: auto;">
            <h2>Dojos:  </h2>
            <form action="/addnewninja" method="POST">
            <ul class="list-group">
                {% for dojos in all_dojos %}
                    <li class="list-group-item"><a href="/display/{{ dojos['id'] }}">{{ dojos['name'] }}</a></li>
                {% endfor %}
            </ul>
            <a href="/create">Add new ninja</a>
        </form>
        </div>
    </div>
</body>
</html>